<nav class="navbar navbar-light">
  <div class="container">
    <a [routerLink]="[path.home.url]"
       class="navbar-brand">
      medium
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a [routerLink]="[path.home.url]"
           class="nav-link">
          Home
        </a>
      </li>
      <!-- залогиненный пользователь -->
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a [routerLink]="['/' + path.articles.children.newArticles.url]"
             class="nav-link">
            <i class="ion-compose"></i>
            &nbsp; New Post
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/' + path.settings.url]"
             class="nav-link">
            <i class="ion-compose"></i>
            &nbsp; Settings
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/' + path.profiles.url, (currentUser$ | async)?.username]"
             class="nav-link">
            <img [src]="(currentUser$ | async)?.image"
                 class="user-pic">
            &nbsp; {{ (currentUser$ | async)?.username }}
          </a>
        </li>
      </ng-container>
      <!-- незалогиненный пользователь -->
      <ng-container *ngIf="isAnonymous$ | async">
        <li class="nav-item">
          <a [routerLink]="['/' + path.login.url]"
             class="nav-link">
            Sign In
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/' + path.login.url]"
             class="nav-link">
            Sign Up
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
