<ul class="nav nav-pills outline-active">
  <li *ngIf="isLoggedIn$ | async"
      class="nav-item">
    <a [routerLink]="['/feed']"
       routerLinkActive="active"
       class="nav-link">
      You feed
    </a>
  </li>
  <li class="nav-item">
    <!-- todo [routerLinkActiveOptions]="{exact: true} => Значение {exact:true} указывает на то, что для установки
    активной ссылки будет применяться полное
    соответствие:-->
    <a [routerLink]="['/']"
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active"
       class="nav-link">
      Global feed
    </a>
  </li>
  <li *ngIf="tagNameProps"
      class="nav-item">
    <a [routerLink]="['/tags']"
       routerLinkActive="active"
       class="nav-link">
      {{ tagNameProps }}
    </a>
  </li>
</ul>
