<ul class="nav nav-pills outline-active">
  <li *ngIf="isLoggedIn$ | async"
      class="nav-item">
    <a [routerLink]="['/feed']"
       routerLinkActive="active"
       class="nav-link">
      You feed
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/']"
       routerLinkActive="active"
       class="nav-link">
      Global feed
    </a>
  </li>
  <li *ngIf="tagNameProps"
      class="nav-item">
    <a [routerLink]="['/tags']"
       routerLinkActive="active"
       class="nav-link">
      {{ tagNameProps }}
    </a>
  </li>
</ul>
